name: Maven CI/CD Lesson28

on:
  push:
    branches: [ lesson28 ]
  pull_request:
    branches: [ lesson28]

jobs:
    build_and_test:

        runs-on: ubuntu-latest

        strategy:
            matrix:
                app:
                    - app-World
                    - app-Devops
                    - app-Jenkins

        # Делаем checkout 
        steps:
        - uses: actions/checkout@v2

        # Ставим JAVA
        - name: Set up JDK 14
          uses: actions/setup-java@v1
          with:
            java-version: 14
        
        # Делаем кеширование
        - name: Cache the Maven packages to speed up build 
          uses: actions/cache@v4 
          with: 
            path: ~/.m2 
            key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }} 
            restore-keys: ${{ runner.os }}-m2
        
        # Билдим приложения
        - name: Build project with Maven
          run: mvn -B package -DskipTests --file lesson28/${{ matrix.app }}/pom.xml clean package

        # Тестируем приложения
        - name: Test app with maven
          run: mvn test --file lesson28/${{ matrix.app }}/pom.xml